<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <!-- 나중에 admin으로 변경-->
    <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link active" aria-current="page" href="/member/memberRegist" style="color: blue;">회원등록</a>
    </li>


    <div class="container mt-5">
        <h2 class="mb-4">회원 리스트</h2>

        <form action="memberList" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="회원 검색" name="searchWord" >
                <button type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>회원번호</th>
                <th>이름</th>
                <th>이메일</th>
                <th>가입 날짜</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="dto : ${dtos}">
                <td>[[${dto.memberNum}]]</td>
                <td>[[${dto.memberName}]]</td>
                <td>[[${dto.memberEmail}]]</td>
                 <!-- localDateTime dateformat 방식이다 -->
                <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
                </tr>
                <tr th:if="${#lists.isEmpty(dtos)}">
                    <td colspan="5"  style="text-align: center; font-size: 18px;">검색 결과가 없습니다.</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>