<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">
        <style>
            .fieldError {
                color: #bd2130;
            }
        </style>
    </th:block>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">


        <script th:inline="javascript">
            $(document).ready(function(){
                let errorMessage = [[${errorMessage}]];  // [[${errorMessage}]] : 변수 내용 출력
                if(errorMessage != null){
                    alert(errorMessage);
                }
            });
        </script>
    </th:block>

    <th:block layout:fragment="script">

        <script th:inline="javascript">
            $(document).ready(function(){
                let errorMessage = [[${errorMessage}]];  // [[${errorMessage}]] : 변수 내용 출력
                if(errorMessage != null){
                    alert(errorMessage);
                }
            });
        </script>
    </th:block>

</head>
<body>
<div layout:fragment="content">
  회원등록 페이지입니다 <br />

    <form id="frm" action="/member/memberRegist" role="form" method="post" >
    <div class="form-group mb-3">
        <label th:for="memberName">이름</label>
        <input type="text" name="memberName"   class="form-control" placeholder="이름을 입력해주세요"/><br />
    </div>

    <div class="form-group mb-3">
        <label th:for="memberEmail">이메일</label>
        <input type="email" name="memberEmail" id="memberEmail"  class="form-control" placeholder="이메일을 입력해주세요" /><br />
    </div>


    <div class="form-group mb-3">
        <label th:for="memberPw">비밀번호</label>
        <input type="password" name="memberPw" class="form-control" placeholder="비밀번호를 입력해주세요"/> <br />
    </div>

    <div class="form-group mb-3">
        <label th:for="memberPwCon">비밀번호 재확인</label>
        <input type="password" name="memberPwCon" class="form-control" placeholder="재확인을 위해 비밀번호를 입력해주세요" /><br />
    </div>


    <div class="form-group mb-3">
        <label th:for="memberAddr">주소</label>
        <input type="text" name="memberAddr" id="sample4_roadAddress" class="form-control" onclick="execDaumPostcode();"
               placeholder="주소를 입력해주세요" /><br />
    </div>

    <div class="form-group mb-3">
        <label th:for="memberPost">우편번호</label>
        <input type="text" name="memberPost" id="sample4_postcode" class="form-control" /><br />
    </div>

    <div class="form-group mb-3">
        <label th:for="memberAddrDetail">회원상세주소</label>
        <input type="text" name="memberAddrDetail"  class="form-control"/><br />
    </div>

    <div class="form-group mb-3">
        <label th:for="memberPhone">연락처</label>
        <input type="tel" name="memberPhone"   class="form-control" placeholder="연락처를 입력해주세요"/> <br />
    </div>

    <div class="form-group mb-3">
        <!-- 날짜 형변환  -->
        <label th:for="memberBirth">생년월일</label>
        <input type="date" name="memberBirth"/><br />

    </div>


    <div class="mb-3" style="text-align: center">
        <button type="submit" class="btn btn-primary" style="">회원등록</button>
    </div>

    </form>
</div>
</body>
</html>